/* Body Setup */

body {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Navbar Css Below */

.navbar {
    height: 100%;
    width: 200px;
    background-color: black;
    color: white;
    display: grid;
    position: absolute;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    left: -300px;
    z-index: 80;
}

.menuonmain:hover {
    cursor: pointer;
}

.navhead,
.home,
.profile,
.messages,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    width: 65%;
    height: 40%;
}

.navbaractive {
    left: 0;
}

.dashboard {
    position: relative;
    right: -140%;
    bottom: 10%;
}

.menuonmain {
    position: absolute;
    z-index: 100;
}

/* The below code handles the header and main css */

.maincontentholder {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 100%;
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    box-shadow: 0 0 2px 0 black;
}

.searchbar {
    height: 30%;
    width: 70%;
    position: relative;
    top: 25%;
    right: -45%;
    border-radius: 15px;
    border: 1px solid grey;
    text-align: center;
}

.account {
    height: 30%;
    width: 60%;
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
    right: -50%;
}

.headerplace {
    position: relative;
    right: -40%;
}

button {
    width: 10%;
    height: 36%;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 18px;
    position: relative;
    top: -15%;
    right: -50%;
    margin: 4px;
}

.homebtns {
    height: 100%;
}

.homename {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 50%;
    width: 50%;
    position: relative;
    top: -5%;
    right: -40%;
}

.homediv {
    display: grid;
}

.h2,
.gribbet {
    position: relative;
    margin: 0;
    top: -15%;
}

.accname {
    font-size: 18px;
    position: relative;
    right: 5%;
}

.homeimg {
    position: relative;
    right: -40%;
    bottom: 20%;
}

/* The code below handles the main content css */

main {
    display: grid;
    height: 100%;
    width: 100%;
    grid-area:
        'projects ...... announce'
        'one two three'
        'four five trending'
        'six seven eight';
}

.mainbackground {
    grid-area: projects;
    font-size: 18px;
    font-weight: 500;
    height: 10%;
    position: relative;
    top: -22%;
    left: 15%;
    width: 20%;
    margin: 0;
}

.mainannounce {
    font-size: 18px;
    font-weight: 500;
    grid-area: announce;
    height: 10%;
    width: 20%;
    overflow: hidden;
    position: relative;
    top: -27%;
    left: 80%;
    margin: 0;
}

main {
    background-color: black;
    color: white;
}

.allprojects {
    min-height: 30%;
    width: 20%;
    border: 1px solid white;
    overflow: hidden;
    padding: 10px;
    border-radius: 4px;
    background-color: aliceblue;
    box-shadow: 0 0 3px 0 white;
    color: black;
}

.one {
    grid-area: one;
    position: relative;
    top: -16%;
    left: 5%;
}

.two {
    grid-area: two;
    position: relative;
    top: -16%;
    left: 33%;
}

.three {
    grid-area: three;
    position: relative;
    top: -22%;
    left: 75%;
    min-height: 50%;
    width: 15%;
}

.four {
    grid-area: four;
    position: relative;
    top: 40%;
    min-height: 50%;
    width: 15%;
    left: 75%;
}

.five {
    grid-area: five;
    position: relative;
    top: 22%;
    left: 33%;
}

.six {
    grid-area: six;
    position: relative;
    top: 22%;
    left: 5%;
}

.seven {
    grid-area: seven;
    position: relative;
    top: 60%;
    left: 33%;
}

.eight {
    grid-area: eight;
    position: relative;
    top: 60%;
    left: 5%;
}

.trend {
    font-size: 18px;
    font-weight: 500;
    grid-area: trending;
    position: relative;
    top: 35%;
    height: 10%;
    width: 10%;
    left: 81%;
    margin: 0;
}

.maincontent div {
    height: 20%;
}

.favorites {
    height: 25px;
    width: 25px;
    padding: 5px;
    position: relative;
    top: 11%;
    left: 60%;
}

.projectdesc {
    overflow: hidden;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
}

.projects {
    margin: 0;
    margin-bottom: 10px;
    font-size: 22px;
}

.announceimg {
    position: relative;
    left: 40%;
    top: 10%;
}

.cuba {
    height: 65%;
}